# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiOGEzY2Q2YjEtMjNiYy00MmJhLThhZWMtM2E3NzIzZThjNzU3IiwidGVuYW50X2lkIjoiYmQ0NDc5NWYxY2I2NWQxYzhjYWM4NWNmNDI0YmQ4YWM2MDgwNTNkODIzZmExYzkwMTdjMmY4MzNhZDY1OWIyZiIsImludGVybmFsX3NlY3JldCI6IjkwNWU3Yjk1LTk0ODktNGU0NC04MWFjLWEwZjVmNzNhYWY2NCJ9.WsaHPYxr-SnAU-Yg86V6t_7sMLKZUmtVx-UJLGvYbyc"